@import '~antd/lib/style/themes/default.less';

.pageTitleContent {
  .statisticBackground {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 154px;
    .statisticTitle {
      padding: 32px 0 92px 13px;
      color: #fff;
      font-size: 22px;
      font-family: PingFangSC-Semibold, sans-serif;
    }
  }

  .titleCard {
    position: relative;
    float: left;
    height: 100px;
    margin: 30px 0 30px 0;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.04);

    .box {
      float: left;
      width: 285px;
      padding: 20px 0 0 0;
      text-align: center;
    }
    .boxShortServiceNum {
      float: left;
      width: 285px;
      height:100px;
      padding: 0 0 0 0;
      background: linear-gradient(90deg, #1AA7D7 0%, #29DCDD 100%);
      box-shadow: 0 8px 20px 0 rgba(18,54,149,0.30);
      border-radius: 5px;
      font-size: 14px;
    }
    .boxShortServiceTotal {
      float: left;
      width: 285px;
      height:100px;
      padding: 0 0 0 0;
      background: linear-gradient(90deg, #3162E6 0%, #4BAFFF 100%);
      box-shadow: 0 8px 20px 0 rgba(18,54,149,0.30);
      border-radius: 5px;
      font-size: 14px;
    }
    .boxShortServiceErrorNum {
      float: left;
      width: 285px;
      height:100px;
      padding: 0 0 0 0;
      background: linear-gradient(90deg, #1D19BD 0%, #4984E3 100%);
      box-shadow: 0 8px 20px 0 rgba(18,54,149,0.30);
      border-radius: 5px;
      font-size: 14px;
    }
    .boxShortServiceResponseTime {
      float: left;
      width: 285px;
      height:100px;
      padding: 0 0 0 0;
      background: linear-gradient(90deg, #6E3CEC 1%, #D174FF 100%);
      box-shadow: 0 8px 20px 0 rgba(18,54,149,0.30);
      border-radius: 5px;
      font-size: 14px;
    }
    .boxLong {
      float: left;
      width: 60%;
      padding: 20px 0 0 0;
      text-align: center;
    }
    .text {
      color: #fff;
      font-size: 14px;
      margin-left:30px;
      margin-top: 20px;
      font-family: PingFangSC-Semibold, sans-serif;
      letter-spacing: 0;
    }
    .value {
      padding-top: 8px;
      color: #fff;
      margin-left:30px;
      font-size: 20px;
      font-family: PingFangSC-Semibold, sans-serif;
      letter-spacing: 0;
    }
    .valueRed {
      padding-top: 8px;
      color: #FE5564;
      margin-left:30px;
      font-size: 20px;
      font-family: PingFangSC-Semibold, sans-serif;
      letter-spacing: 0;
    }
    .image{
      position: absolute;
      width: 70px;
      height: 70px;
      bottom: 0;
      right: 0;
    }
    .textSmall {
      float: left;
      padding: 4px 5px 4px 0;
      color: #fff;
      font-size: 12px;
      font-family: PingFangSC-Semibold, sans-serif;
      letter-spacing: 0;
    }
    .valueSmall {
      float: left;
      color: #fff;
      font-size: 18px;
      font-family: PingFangSC-Semibold, sans-serif;
      letter-spacing: 0;
    }
  }
}
